<%= render "tabs" %>
<div class="container">
  <div class="row mt-5">
    <div class="col-2 col-lg-1">
      <%= link_to new_hobby_path, class: "btn btn-hobby" do %>
        <%= image_tag "icons/add.svg" %>
      <% end %>
    </div>
    <%# @users.each do |user|%>
      <p><%#= user.id %></p>
      <p><%#= user.username %></p>
      <p><%#= user.password %></p>
    <%# end %>
    <div class="col-7 col-lg-8">
      <div class="cards-hobby">
        <% if @user.hobbies.any? %>
          <% @user.hobbies.each do |hobby| %>
          <div class="card-hobby-container">
            <%= link_to hobby_path(hobby) do %>
              <div class="card-hobby">
                <div class="card-hobby-top">
                  <% case hobby.level %>
                    <% when 1 %>
                      <span class="badge badge-pill badge-lvl-one">Rookie</span>
                    <% when 2 %>
                      <span class="badge badge-pill badge-lvl-two">Good</span>
                    <% when 3 %>
                      <span class="badge badge-pill badge-lvl-three">Master</span>
                  <% end %>
                  <div class="card-hobby-team">
                    <% hobby %>
                    <%= image_tag "avatars/Avatar_6.jpg", class: "card-trip-user avatar-bordered" %>
                    <%= image_tag "avatars/Avatar_5.jpg", class: "card-trip-user avatar-bordered" %>
                  </div>
                </div>
                <div class="card-hobby-bottom">
                  <p><%= hobby.location %></p>
                  <h6><%= hobby.weekday %>, <%= hobby.recurrence %></h6>
                  <h4><%= hobby.category %></h4>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>


      </div>
    </div>
    <div class="col-3">
      <div class="card-profile">
        <img class="avatar-large p-2" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <div class="card-profile-infos">
          <div class="card-profile-details">
            <h2><%= current_user.bio %></h2>
            <p><%= current_user.location %></p>
          </div>
          <div class="card-profile-skillset">
            <%# VERSION A %>
            <% if @user.skills.blank? %>
              Add a New Skill!
            <% else %>
              <% @user.skills.each do |skill| %>
                  <% case skill.experience %>
                    <% when "1" %>
                      <span class="badge badge-pill badge-lvl-one"><%= skill.category %></span>
                    <% when "2" %>
                      <span class="badge badge-pill badge-lvl-two"><%= skill.category %></span>
                    <% when "3" %>
                      <span class="badge badge-pill badge-lvl-three"><%= skill.category %></span>
                  <% end %>
              <% end %>
            <% end %>
            <%# VERSION B %>
<!--             <%# if @skills.any? %>
              <%# @skills.each do |skill| %>
                <%# case skill.experience %>
                  <%# when "1" %>
                    <span class="badge badge-pill badge-lvl-one"><%#= skill.category %></span>
                  <%# when "2" %>
                    <span class="badge badge-pill badge-lvl-two"><%#= skill.category %></span>
                  <%# when "3" %>
                    <span class="badge badge-pill badge-lvl-three"><%#= skill.category %></span>
                <%# end %>
              <%# end %>
            <%# end %> -->

             <%# PLACEHOLDER %>
<!--             <span class="badge badge-pill badge-lvl-one">Chess</span>
            <span class="badge badge-pill badge-lvl-two">Traking</span>
            <span class="badge badge-pill badge-lvl-three">Yoga</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6 offset-1">
    <%= simple_form_for ([@user, @skill]) do |f| %>

      <%= f.error_notification %>
        <%= f.input :category, as: :select, collection: @categories, selected: @categories.first %>
        <%= f.input :experience, as: :select, collection: @experience, selected: @experience.first %>

        <%= f.button :submit, "Add a new Skill", class: 'btn btn-ghost w-100 mb-2' %>

    <% end %>
  </div>
</div>
