<%= render "tabs" %>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1><%= current_user.username %></h1>
      <p><%= current_user.location %></p>
      <p><%= current_user.bio %></p>
    </div>
  </div>
  <div class="row mt-5">
      <div id="skillset" class="col-6">
        <h2>Skillset</h2>
        <!--TODO if empty show info; else… -->

        <!--TODO loop through by level DESC-->
        <p><span class="badge badge-pill badge-dark">5</span> <strong>Yoga</strong></p>
        <p><span class="badge badge-pill badge-info">3</span> <strong>Chess</strong></p>
        <p><span class="badge badge-pill badge-success">1</span> <strong>Hiking</strong></p>
      </div>
      <div id="goals" class="col-6">
        <h2>Goals</h2>
        <!--TODO if empty show info; else… -->

        <!--TODO loop through by level DESC-->
        <p><span class="badge badge-pill badge-dark">5</span> <strong>Chess</strong></p>
        <p><span class="badge badge-pill badge-success">1</span> <strong>Bread Baking</strong></p>
      </div>
    </div>
    <div class="notification-actions">
      <%= link_to manage_users_path, class: "btn btn-ghost btn-sm" do%>
          Edit <i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    </div>
  </div>
</div>
