<%= render "tabs" %>
<div class="container">
  <div class="row mt-5">
    <div class="col-1">
      <%= link_to "#", class: "btn btn-ghost" do %>
        <img src="app/assets/images/icons/add_full.svg" alt="">
      <% end %>
    </div>
    <div class="col-6">
      <h1><%= current_user.username %></h1>
      <span><%= current_user.location %></span>
      <br>
      <span class="text-lg-left"><%= current_user.bio %></span>
    </div>
    <div class="col-5">
      <div class="card-profile">
        <img class="avatar-large p-2" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <div class="card-profile-infos">
          <div class="card-profile-details">
            <h2>I like to take naps.<%#<%= current_user.bio %></h2>
            <p><%= current_user.location %></p>
          </div>
          <div class="card-profile-skillset">
            <span class="badge badge-pill badge-lvl-one">Chess</span>
            <span class="badge badge-pill badge-lvl-two">Traking</span>
            <span class="badge badge-pill badge-lvl-three">Yoga</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
