<%= render "tabs" %>
<div class="container">
  <div class="row mt-5">
    <div class="col-2 col-lg-1">
      <%= link_to "#", class: "btn btn-hobby" do %>
        <%= image_tag "icons/add.svg" %>
      <% end %>
    </div>
    <div class="col-7 col-lg-8">
      <div class="cards-hobby">
        <div class="card-hobby">
          <div class="card-hobby-top">
            <span class="badge badge-pill badge-lvl-one">Rookie</span>
            <div class="card-hobby-team">
              <%= image_tag "avatars/Avatar_6.jpg", class: "card-trip-user avatar-bordered" %>
              <%= image_tag "avatars/Avatar_5.jpg", class: "card-trip-user avatar-bordered" %>
            </div>
          </div>
          <div class="card-hobby-bottom">
            <p>Remote</p>
            <h6>Thu, Weekly</h6>
            <h4>Chess</h4>
          </div>
        </div>
        <div class="card-hobby">
          <div class="card-hobby-top">
            <span class="badge badge-pill badge-lvl-two">Good</span>
            <div class="card-hobby-team">
              <%= image_tag "avatars/Avatar_6.jpg", class: "card-trip-user avatar-bordered" %>
              <%= image_tag "avatars/Avatar_4.jpg", class: "card-trip-user avatar-bordered" %>
              <%= image_tag "avatars/Avatar_5.jpg", class: "card-trip-user avatar-bordered" %>
            </div>
          </div>
          <div class="card-hobby-bottom">
            <p>Stoke Newington, London</p>
            <h6>Sat, Monthly</h6>
            <h4>Traking</h4>
          </div>
        </div>
        <div class="card-hobby">
          <div class="card-hobby-top">
            <span class="badge badge-pill badge-lvl-three">Master</span>
            <div class="card-hobby-team">
              <%= image_tag "avatars/Avatar_6.jpg", class: "card-trip-user avatar-bordered" %>
              <%= image_tag "avatars/Avatar_4.jpg", class: "card-trip-user avatar-bordered" %>
              <%= image_tag "avatars/Avatar_5.jpg", class: "card-trip-user avatar-bordered" %>
            </div>
          </div>
          <div class="card-hobby-bottom">
            <p>Hackney, London</p>
            <h6>Thu, Weekly</h6>
            <h4>Chess</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="card-profile">
        <img class="avatar-large p-2" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <div class="card-profile-infos">
          <div class="card-profile-details">
            <h2><%= current_user.bio %></h2>
            <p><%= current_user.location %></p>
          </div>
          <div class="card-profile-skillset">
            <span class="badge badge-pill badge-lvl-one">Chess</span>
            <span class="badge badge-pill badge-lvl-two">Traking</span>
            <span class="badge badge-pill badge-lvl-three">Yoga</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6 offset-1">
    <%= simple_form_for [@user, @skill] do |f| %>

      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :category, as: :select, collection: $categories, selected: $categories.first %>
        <%= f.input :experience, as: :select, collection: $levels, selected: $levels.first %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add a new Skill", class: 'btn btn-ghost w-100 mb-2' %>

      </div>
    <% end %>
  </div>
</div>
