<%= render "tabs" %>
<div class="notification mt-5">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />

  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <%= link_to "#" do%>
      Edit <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to "#" do%>
      Delete <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>

  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <%= link_to "#" do%>
      Edit <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to "#" do%>
      Delete <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>
