<div class="ml-4 mr-4 d-flex">
  <img src="https://image.freepik.com/free-vector/happy-woman-growing-houseplants-female-character-standing-cozy-home-garden-holding-pot-with-plant-vector-illustration-greenery-gardening-hobby-home-decor-botany_74855-8415.jpg" alt="Hobby image" height="350px" style="border-radius: 10px;">
  <div class="d-flex flex-column ml-4">
    <div class="ml-4">
      <span class="badge badge-pill badge-dark"><%= @hobby.level %></span>
      <h1><%= @hobby.title %></h1>
    </div>

    <div class="ml-2">
      <%# Just realized we're picking up the current_user location
      and not the host's location, needs rework in the afternoon :( %>
      <%# <p><i class="fas fa-map-marker-alt"></i> <%= @user.location %>
      <p><i class="fas fa-ghost"></i> Hosted by </p> <%# Should we include this info? TBD %>
      <p><i class="fas fa-users"></i> <%= @hobby.occupancy_limit %> spots left</p> <%# This is just wrong. %>
    </div>
  </div>
</div>

<div class="m-4">
  <h4>What we're about</h4>
  <p><%= @hobby.description %></p>

  <div class="m-4">
    <button type="button" class="btn">
      <%= link_to new_booking_path, class: "btn btn-ghost btn-sm" do %>
        Book
      <% end %>
    </button>
  </div>
</div>
